*{
    margin:0;
    padding:0;
    font-family:"poppins",sans-serif;
}
/* jab ham padding and margin 0 karthe haistho jo bhi elements hai
vo sare page ke complete left ayenge kyunki jab ham list ko usse karthe haitho kuch
padding hotha hai usko bhi remove hoki sab chije left me ayenge*/

.main_box{
    background:url("photo.jpg");
    height:100vh;
    background-size:cover;
}
/* main box vo hai jisme sare ke icons aa rahe hai abhi toh
main box ga height sirf page me 30% hai poore ka poore page occupy
karne ke liye vh(viewport)viewport ka mtalb jitna hamre liye dekhtha hai*/
.btn_one i{
    color:white;
    font-size:30px;
    font-weight:700;
    position:absolute;
    left:16px;
    line-height:60px;
    cursor:pointer;
    transition:all 0.3s linear;
}
/*ham burger jo bhi icon hai usko ham set kar rahe hai 
usko white color banaya hai font weight matlab ek line kitna thickness chahiye
font size matlab pura ka pura icon kithna bada chahiye
position absolute mtalb kyukni hamne parent ko position nehis set kiya toh 
jo bhi body hai uske hisab se set hoga left 16px hai*/
.sidebar_menu{
    position:fixed;
    left:-300px;
    height:100vh;
    width:300px;
    background-color:rgba(255, 255, 255, 0.1);
    box-shadow:0 0 6px rgba(255, 255, 255, 0.5);
    transition:all 0.3s linear;
}
.sidebar_menu .logo{
    position:absolute;
    width:100%;
    line-height:60px;
    box-shadow:0 2px 4px rgba(255, 255, 255, 0.5);
    height:60px;
}
.sidebar_menu .logo a{
    position:absolute;
    left:50px;
    color:white;
    text-decoration:none;
    font-size:20px;
    font-weight:500;
}
.sidebar_menu .btn_two i{
    color:grey;
    font-size:25px;
    line-height:60px;
    position:absolute;
    left:275px;
    opacity:0;/*kyunki usko gayab karnahai*/
    cursor:pointer;/*pointer ka matlab hand wala symbol*/
    transition:all 0.3s linear;
}
.sidebar_menu .menu{
    color:white;
    position:absolute;
    width:100%;
    top:80px;
}
.sidebar_menu .menu li{
    margin-top:6px;
    padding:14px 20px;
}
.sidebar_menu .menu i,a{
    color:white;
    text-decoration:none;
    font-size:20px;
}
.sidebar_menu .menu i{
    padding-right:8px;
}
.sidebar_menu .social_media{
    position:absolute;
    left:25%;
    bottom:25px;
}
.sidebar_menu .social_media i{
    color:white;
    opacity:0.5;
    padding:0 5px;
}
#check{
    display:none;
    /* koi cheez screen se gayab karne ke liye hame disply:none use karthe hai jab cheez gayab hogi toh
    jo bhi space vo cgeez letha tha vpo bhi nehi hoga*/
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255,255,255,0.5);
}
.btn_one i:hover {
    font-size:30px;
}
.btn_two i:hover{
    font-size:30px;
}
.sidebar_menu .social_media i:hover{
    opacity:1;
    transform:scale(1.5);
}
#check:checked ~ .sidebar_menu{
    left:0;
}
/*upar vale me jo bhi ~symbol vo siblings ke liye use hothahai checkbox ka sibling hai sidebar menu*/
#check:checked ~.btn_one {
    opacity:0;
}
#check:checked ~.sidebar_menu .btn_two i{
    opacity:1;
}